.markdown {
    @apply text-lg leading-relaxed;
}

.markdown a {
    @apply .underline;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
    @apply my-6;
}

.markdown ol {
    list-style: decimal !important;
    margin-left: 25px;
}

.markdown ul {
    list-style: disc !important;
    margin-left: 25px;
}

.markdown h2 {
    @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
    @apply text-2xl mt-8 mb-4 leading-snug;
}