/* purgecss start ignore */
@tailwind base;
@tailwind components;

ol {
    list-style: decimal !important;
}

.comment-card blockquote {
  padding-left: 1em;
  border-left: 0.2em solid rgba(0, 0, 0, 0.4);
  font-weight: lighter;
}
/* purgecss end ignore */
@tailwind utilities;
