/* purgecss start ignore */

@tailwind base;
@tailwind components;

/* ol {
    list-style: decimal !important;
    margin-left: 25px;
}

ul {
    list-style: disc !important;
    margin-left: 25px;
} */

.comment-card blockquote {
    padding-left: 1em;
    border-left: 0.2em solid rgba(0, 0, 0, 0.4);
    font-weight: lighter;
}

.screenreader {
    position: absolute;
    left: -9999px;
}


/* purgecss end ignore */

@tailwind utilities;